.copyright_footer{
    font-size: 14px;
}

.footer_links a{
    color: #fff;
    font-size: 16px;
    margin-left: 25px;
    font-weight: 400;
    font-family: 'Roboto';
}

.colorr{
    background: #2D3F45;
}

.footer_images a{
   
    padding-right: 10px;
}

.footer_img{
    text-align: center!important;
}

.text_color{
    color: #B9B9B9;
    background:#324950;
    padding-top: 25.5px;
    font-size: 14px;
    
}
