.middle {
    /*background-color: rgb(40, 216, 216);*/
    width: 1920px;
    height: 1900px;
    
}

.middle_text{
    font-size: 20px; 
    align-items: baseline; 
}

.svg_set{
    margin-top: 55px;
    padding-bottom: 13px;
}

.margin_vm{
    margin-top: 1000px;
}

.padding_middle{
    padding-bottom: 65px;
    padding-top: 65px;
    background-color: #f8f8f8;
}

.semen_picture{
    background: url(../images/semen.svg);
    background-color: #f8f8f8; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1098px;
}

.flower_css{
    object-fit: cover;
    filter: drop-shadow(0px 20px 40px rgba(0,0,0,0.25));
    border: 1px solid black;
}

.col_middle{
    vertical-align: middle;
}

.main_activities_color{
    background-color: #EDEDED;
    background-size: cover;
}

.line{
justify-items: center;
width: 183px;
height: 0px;
border: 1px solid #57984C;
}

hr{
    border-top: 2px solid #57984C;
}

.green_text{
    color: #57984C;
    font-weight: 700;
    font-size: 24px;
}

.topic{
    font-size: 64px;
    color: #324950;
    font-weight: 700;
    font-style: normal;
}

.main_v{
    font-weight: 400;
    font-size: 20px;
    color: #324950;
}













.tomato_background{
    background-color: #EB5757;
}


.main_tomato{
    
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #324950;
}

.line{
    border-left: 2px solid #EB5757; 
    margin-left: 20px; 
    padding-left: 10px;  
}

.colored{
    background-color:#fcf0f0;
}

.hr_tomato{
    border:1px solid #324950;
}

.tomato_id{
    width: 100%;
    height: 252px;
}

.card{
    width: 350px;
    transition: 0.3s;
    display: table;
    height: 321px;
    margin-right: 20px;
    margin-bottom: 34px;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.34);
}

.tomato_link{
    color: #57984C;
    font-size: 16px;
}
.tomato_link:hover{
    text-decoration:none;
    color: #57984C;
}
.tomato_link:link{
    text-decoration:none;
    color: #57984C;
}
.tomato_link:active{
    text-decoration:none;
    color: #57984C;
}

.topic_market{
color: #324950;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 142.7%;
}

.text_market{
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;
color: #324950;
}