.pbanner{
    background: no-repeat left/cover url(images/bg1.png);
    height: 787px;;
    color: rgb(255, 255, 255);
}

body{
    background-repeat: no-repeat;
}

.h_size{
    font-size: 21px;
}

a:link, :hover, :active, :visited{
    color: black;
    border-bottom: 0ch;
}