<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=320, initial-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/header.css">
	<link rel="stylesheet" type="text/css" href="css/footer.css">
	<link rel="stylesheet" type="text/css" href="css/middle.css">
	<link rel="stylesheet" type="text/css" href="fonts/font.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap" rel="stylesheet">

	<title>Tomato all</title>
</head>	
<body>
    <script src="css/bootstrap.bundle.min.js"></script>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-white">
            <div class="container">
                
            <div class="col-6 pb-3"> <span class="align-middle">
                <img src="images/Logo_tomato.png" style="padding-top: 18px; max-width: 150%;">
            </span></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="col-12 text-right">
                    <div class="searcher">
						<input type="text" placeholder="Search..."><button class="search"></button>    
						</div>
						<p></p>
						<div class="h_size" style="padding-top: 11px; padding-bottom: 19px;"> 
							<a href="index.html">Home</a>
							<a href="companyProfile.html">Company Profile</a> 
							<a href="products.html">Products</a> 
							<a href="">Services</a> 
							<a href="">R & D</a> 
							<a href="contact_us.html">Contact</a>  
						</div>
                </div>
            </div>
            </div>
          </nav>
    </header>

    <middle>
        <div class="colored">
        <img src="images/tomatoes.png" style="width: 100%; text-align: center; height: 50%;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="topic" style="font-size:48px; padding-top: 50px;">Agridera Fresh Market Tomato Hybrids</div>
                                <div class="center">
								<img src="images/Union.svg" style="padding-top: 33px;padding-bottom: 24px;"></div>
								<p></p><div class="main_tomato">
									Agridera aims to be one of the world's leading companies in the breeding, production, 
                                    and marketing of tomato seeds. <b>We invest intensively in research and development to provide 
                                    solutions to growers and consumers in numerous countries around the world.</b>
                                     In particular, we breed improved disease-resistant cultivars adapted to different markets globally.<p></p>

                                    Currently, emphasis is placed on combining Tomato Yellow Leaf Curl Virus (TYLCV) and Tomato Spotted Wilt Virus (TSWV) 
                                    resistances with other soil borne diseases into superior tomato breeding lines and hybrids. Moreover, 
                                    comprehensive efforts are being undertaken to develop varieties resistance to TBRFV virus (Tomato Brown Rugose Fruit Virus). <p></p>

                                    In terms of horticultural traits, breeding is for earliness, different fruit sizes, firmness, red fruit color, 
                                    flavor, crack resistance, shelf life, and high/low temperature fruit set. Combinations of quality features and 
                                    disease resistance are sought in a variety of types, namely round and elongated shapes. <p></p>

                                    <div style="border-left: 3px solid #EB5757; padding-left: 22px;"><p>Agirdera Tomato breeding programs are focusing on three main segments: Greenhouse Indeterminate Tomatoes, 
                                    Open-field Indeterminate Tomatoes, and Bush Type Open-field Tomatoes.</p></div>
								</div>
                    </div>
                    </div>
                    </div>
                    <div class="container">
                        <div class="row pt-5 mt-2 bg-white align-text-bottom topic_market" style="font-size:20px">
                            <div class="col-md-4"><div class="heit_topic"><b>
                                Greenhouse Tomato Breeding Program</b></div>
                                <div class="bg-white text_market" style="font-size:17px">
                                    <hr class="hr_tomato" width=100%>
                                    <b>This breeding is aimed for the Spanish and Turkish markets.</b> 
                                    For single and cluster picks, round fruit shape and resistances 
                                    of TYLCV, TSWV, Nematodes and FORL (Fusarium oxysporum f.sp. 
                                    radicis-lycopersici). Some hybrids may include more resistances, 
                                    such as Cladosporium and Leveillula Taurica (Lv). 
                                </div>
                            </div>
                            <div class="col-md-4"><div class="heit_topic"><b>
                                Open-field Indeterminate Tomatoes</b></div>
                                <div class="bg-white text_market" style="font-size:17px">
                                    <hr class="hr_tomato" width=100%>
                                <b>This breeding is for Brazilian, Moroccan, and Turkish markets. </b>
                                The main focus is on large round shape fruits (200 grams plus); 
                                and resistances of TYLCV, TSWV, Nematodes and FORL. In the near
                                future, F3 (Fusarium oxysporum f.sp. lycopersici) will be included 
                                as basic resistance in our cultivars. 
                                </div>
                            </div>
                            <div class="col-md-4 pb-3 mb-2"><div class="heit_topic"><b>
                                Open-field Bush Type Tomatoes</b></div>
                                <div class="bg-white text_market" style="font-size:17px">
                                    <hr class="hr_tomato" width=100%>
                                <b>This breeding is for Mediterranean markets.</b> We breed round and elongated shapes, 
                                standard sizes (140- 180 grams), and beef sizes (min. 180 grams up to 300 grams and more). 
                                We combine the resistances of TYLCV, TSWV and Nematodes as basic resistances in our hybrids.
                                However, some hybrids may include more resistances, such as Cladosporium and Leveillula Taurica (Lv).
                                </div>
                            </div>
                        </div>
                        <p></p>
                        <div style="border-left: 3px solid #EB5757; padding-left: 22px;"><b>Agridera operates through international and local distributers around the world.</b><p></p></div>
                        

                        <div id="app">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="card" v-if="products" v-for="p in products" ><a v-bind:href="p.link" class="tomato_link">
                                    <img v-bind:src="p.image" class="tomato_id">
                                    <div class="container" style="padding-top: 8px;">
                                        <div class="text-center">
                                        <h5><b>{{p.title}}</b></h5>
                                        {{p.short_text}}</div>
                                    </div>
                                </div></a>
                            </div>
                        </div> 
                        </div>              
                </div>
    </middle>


	<footer class="page-footer colorr ">
        <div class="container">
        <div class="row align-middle pt-3 pb-3"> 
            <div class="col-md-8">
                <div class="footer_links text-justify">
                        <a href="#" class="link">PROFILE</a> 
                        <a href="#" class="link">MANAGEMENT</a> 
                        <a href="#" class="link">PRODUCTS</a> 
                        <a href="#" class="link">R&D</a> 
                        <a href="#" class="link">LINKS</a>  
                        <a href="#" class="link">SITEMAP</a> 
                        <a href="#" class="link">CONTACT</a> 
                        </div>
            </div>
            <div class="col-md-4 footer_images footer_img">
                <a href=""><img src="images/in.svg"></a>
                <a href=""><img src="images/insta.svg"></a>
                <a href=""><img src="images/youtube.svg"></a>
                <a href=""><img src="images/twitter.svg"></a>
                <a href=""><img src="images/facebook.svg"></a>
            </div>
        </div> 
        </div>
        <div class="footer-copyright pt-3 pb-3 text-center align-middle text_color">
            AGRIDERA SEEDS & AGRICULTURE LTD. © 2020 
        </div>
    </footer>	

<section>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="css/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/vue@3"></script>
<script src="js/main.js"></script>		
</section>

</body>
</html>